body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.container{
    background-color:#E4F9F5;
    padding-top:200px;
    padding-bottom: 330px;
    position: relative;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;  /* 90px */
    margin:50px auto 0 auto;
    color:#66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:1.875rem;/* 40px */
    color:#66BFBF;
    font-weight:normal;
   
}
.t-cloud{
    position:absolute;
    top:230px;
    right:250px;
}
.b-cloud{
    position:absolute;
    top:390px;
    left:300px;
}

.mountain{
    position: absolute;
    bottom:0;
    left:450px;
    
}
.girl{
    height:15%;
    width:15%;
    border-radius:50%;
    margin-top:20px;
    border:5px solid #66BFBF;
}
.h{
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
}

.he{
    font-family: 'Montserrat', sans-serif;
    font-size:300%;
}
.i1{
    margin-top: 200px;
    margin-bottom: 200px;
    
}
.i2{
    margin-top: 200px;
    margin-bottom: 200px;
}
.di{
    width:15%;
    border-radius: 50%;
    border:5px solid #66BFBF;
    float: left;
    margin-left:450px;
   
    
}
.ci{
    width: 15%;
    border-radius: 50%;
    border:5px solid #66BFBF;
    float: right;
    margin-right:350px;
    
    
}
.dp{
    width:50%;
    margin:10px 4px 100px auto;
    text-align: left;
}
.cp{
    width:50%;
    margin:10px auto 100px 4px;
    text-align: right;
}
.bottom-container{
    background-color:#66BFBF;
    padding:50px 0 80px;
}
hr{
    border:dotted #EAF6F6 6px;
    border-bottom:none;
    width:4%;
    margin:100px auto;

}
a{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
    margin:10px 20px;
    text-decoration: none;

}
a:hover{
    color:#EAF6F6;
}
.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding:20px 0;

}
